*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navlinks{
    display: flex;
    justify-content: space-around;
    padding: 40px 15px 40px 15px;
    list-style-type: none;
}
.navlinks a {
   
   text-decoration: none;
}
.navlinks li{
    font-size: 27px;
    color: blueviolet;
    font-weight: bold;
}